
input[type=text], select {
    width: 15%;
    padding: 12px 20px;
    margin-right: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;

}

.filter{
    margin: 8px;
    display: flex;
}

button[type=button] {
    border: 1px solid #ccc;
    background-color: #ffffff;
    color: #ccc;
    width: 40px;
    border-radius: 15%;
}
button[type=button]:hover {
    background-color: #ccc; /* Green */
    color: white;
}
button[type=button]:active {
    background-color: #000000; /* Green */
    color: white;
}

@media screen and (max-width: 600px) { 
    input[type=text], select {
        width: 40vw;

    }
    button[type=button] {
        width: 10vw;
        
    }
 }

  